
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tech Shop</title>
        <meta charset="UTF-8">
            <link href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Datos del cliente</h1>    
        <a th:href="@{/cliente/listado}">Regresar</a>
        <br>
        <br>
        <form th:action="@{/cliente/guardar}"
              method="POST"
              th:object="${cliente}">
            <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
            <label for="nombre">Nombre: </label>
            <input type="text" id="nombre" name="nombre" th:field="*{nombre}"/>
            <br>
            <label for="nombre">Apellidos: </label>
            <input type="text" id="apellidos" name="apellidos" th:field="*{apellidos}"/>
            <br>
            <label for="nombre">Correo: </label>
            <input type="correo" id="correo" name="correo" th:field="*{correo}"/>
            <br>
            <label for="nombre">Teléfono: </label>
            <input type="telefono" id="telefono" name="telefono" th:field="*{telefono}"/>
            <br>
            <label for="limite">Limite: </label>
            <input type="number" id="limite" name="limite" th:field="*{credito.limite}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
