
<html>
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <link href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
            <h2>Listado de Categorias</h2>
            <a th:href="@{/categoria/nuevo}">Regresar</a>
            <div thif="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Activo</th>
                            <th>Modificar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${categorias}">
                            <td th:text="${item.descripcion}"></td>
                            <td><input type="checkbox" name="activo" th:checked="${item.activo}" disabled="true"/></td>
                            <td><a href="@{/categoria/modificar} + ${item.idCategoria}">Modificar</a></td>
                            <td><a href="@{/categoria/eliminar} + ${item.idCategoria}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div thif="${categorias == null or categorias.empty}">
                No tenemos lista de categorias para mostrar
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
