
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="@{/css/menu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <div class="contenido">
            <h2>Nuestros articulos</h2>
            <div thif="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${articulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecima(item.precio, 3, 2)}"></td>
                            <td><a href="@{/carrito/agregar} + ${item.idArticulo}">Agregar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div thif="${articulos == null or articulos.empty}">
                No tenemos lista de articulos para mostrar
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
